@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="animated fadeIn">
  
        <!-- /.row-->

        <!-- /.row-->

        <!-- /.row-->
    </div>
</div>

@section Scripts {
    <script src="~/lib/chart.js/dist/Chart.min.js"></script>
    <script src="~/lib/coreui/js/custom-tooltips.min.js"></script>
    <script src="~/lib/coreui/js/main.js"></script>
}